<%-include('partials/header') %>
<div class="container">
<header class="jumbotron" style="background-color: lightgray;">
  <div class="container" style="margin: 20px;">
    <h2 style="color: blueviolet;">Developed By:- GAURAV WAWDHANE</h2>
    <p style="color: cornflowerblue;">Email:- gaurav121.wawdhane@gmail.com</p>
    <p style="color:blue;">
    Contact No.- 9110184558<br>
    COEP
    </p>
  </div>
  <hr>
  <div class="container" style="margin: 20px;">
    <h2 style="color: blueviolet;">Developed By:- SATYAM MANE</h2>
    <p style="color: cornflowerblue;">Email:- rvsatyam2000@gmail.com</p>
    <p style="color:blue;">
    Contact No.- 9114560658<br>
    COEP
    </p>
  </div>
</header>
  </body>
  </html>
