<%-include('partials/header') %>
<div class="container">
<header class="jumbotron" style="background:url('https://cdn.wallpapersafari.com/62/10/uTPXLF.jpg');">
  <div class="container" style="margin: 20px;">
    <h2 style="color: Red;">
      1) <span style="font-family: 'Satisfy', cursive;">Gaurav Wawdhane</span></h2>
    <p style="color: DarkOrange;">Email:- gaurav121.wawdhane@gmail.com</p>
    <p style="color:Fuchsia;">
    Contact No.- 9110184558<br>
    COEP
    </p>
  </div>
  <hr>
  <div class="container" style="margin: 20px;">
    <h2 style="color: red;">2)<span style="font-family: 'Satisfy', cursive;">Satyam Mane</span></h2>
    <p style="color: DarkOrange;">Email:- rvsatyam2000@gmail.com</p>
    <p style="color:Fuchsia;">
    Contact No.- 9114560658<br>
    COEP
    </p>
  </div>
</header>
  </body>
  </html>
